<div class="row-fluid">
  <h2>{{{headers.currentWeek}}}</h2>
  <ul class="week-schedule">
    {{#each currentWeek}}
      <li class="span2 well">
        <div>
          <h3>{{name}}</h3>
          <ul class="events">
            {{#each events}}
              <li>{{this}}</li>
            {{/each}}
          </ul>
        </div>
      </li>
    {{/each}}
  </ul>
</div>
<div class="row-fluid">
  <h2>{{{headers.upcomingEvents}}}</h2>
  <ul class="events">
    {{#each upcomingEvents}}
      <li>{{event}}</li>
    {{/each}}
  </ul>
</div>
